ul {
    list-style-type:circle;
}
html {
    border-style:double;
    border-color:green;
    border-width:2rem;
    background-color: greenyellow;
    font-weight:bolder;
    font-size:23px;

}
body {
color: black;
font-family:'Ink free Black';

}
#credits{
    color:black;
    margin-left:20cm;
    margin-top:5cm;
    font-family: 'Arial Black';
}