ul {
    list-style-type:circle;
}
section {
    border-color:purple;
    border-width:34px;
    background-color:plum;
    font-weight:bolder;
    font-size:23px;
    border-style:solid;
    margin:3rem;

}
body {
color: purple;
font-family:'Ink free Black';

}
#credits{
    color:purple;
    margin-left:20cm;
    margin-top:5cm;
    font-family: 'Arial Black';
}
.a1{
    background-color:purple;
    padding: 16px 34px;
    border-radius: 16px;
    color:white;
    margin-top: 108px;
    text-decoration: none;
    
}
.div1{
    margin:3cm;
}